<%= form_for(reserva) do |form| %>
  <% if reserva.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reserva.errors.count, "error") %> prohibited this reserva from being saved:</h2>

      <ul>
      <% reserva.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :direccion %>
    <%= form.text_field :direccion %>
  </div>

  <div class="field">
    <%= form.label :hijos %>
    <%= form.number_field :hijos %>
  </div>

  <div class="field">
    <%= form.label :de %>
    <%= form.time_field :de %>
  </div>

  <div class="field">
    <%= form.label :hasta %>
    <%= form.time_field :hasta %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
