<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @niñera.nombre %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @niñera.edad %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @niñera.genero %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @niñera.fecha %>
</p>

<p>
  <strong>De:</strong>
  <%= @niñera.de %>
</p>

<p>
  <strong>A:</strong>
  <%= @niñera.a %>
</p>

<%= link_to 'Edit', edit_niñera_path(@niñera) %> |
<%= link_to 'Back', niñeras_path %>
